body{
    background: fixed radial-gradient(#514848, #322f2e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1{
    color: #a1c8e4;
    font-family: 'Press Start 2P'; 
    font-size: 28px;
}

/* Hello Worrld Collors */
.symbols{
    color:#EAE2E2
}

.hello{
    color: #A1C8E4;
}

.world{
    color:#98EC70;
}

/* Image */
img{
    width: 350px;
}