body{
    background: fixed radial-gradient(#514848, #322f2e);
}

.robot{
    position: absolute;
    margin: 100px 550px; 
}

h1{
    width: 820px;
    padding: 470px 500px 0 500px;
    color: #a1c8e4;
    font-family: 'Press Start 2P'; 
    font-size: 28px;
}

/* Hello Worrld Collors */
.symbols{
    color:#EAE2E2

}

.hello{
    color: #A1C8E4;

}

.world{
    color:#98EC70;
}

/* Image */
img{
    width: 350px;
}